@import '../../vars';

$selectedColor: #5a5a5a;
$lightColor: #f0f2f4;
$darkColor: #2d2d2d;

.file-explorer-container {
  background-color: $lightColor;
  color: $darkColor;
  padding: 16px 16px 16px 12px;

  &.dark {
    background-color: $darkColor;
    color: $lightColor;
  }

  h2 {
    font-size: 16px;
    margin: 25px 25px 25px 0px;
    padding-left: 16px;
  }

  @media (min-width: $tablet) {
    resize: horizontal;
    overflow-x: auto;
    width: 150px;
  }
}

.menu-icon {
  width: 27px;
  position: absolute;
  top: 2px;
  bottom: 10px;
  right: 20px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.folder {
  margin-bottom: 4px;
  background-color: $selectedColor;
  color: #fff;
  display: flex;
  align-items: center;
}

.file-or-folder {
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  width: max-content;

  &:not(.empty):hover {
    cursor: pointer;
    color: $lightColor;
    background-color: #e98100;
  }
}

.empty {
  font-style: italic;
  color: $selectedColor;
}

.delete-icon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}

.file-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.inner-level {
  margin-left: 20px;
}

.tree-node {
  &:not(:first-child) {
    margin-left: 16px;
    border-left: 2px solid $selectedColor;
    border-bottom: 2px solid $selectedColor;
    margin-bottom: 10px;
    border-bottom-left-radius: 4px;
    width: max-content;
  }
}

.tree-element {
  margin-left: 4px;
  margin-bottom: 4px;
}
