.code-editor-container {
  flex-grow: 1;
  min-width: 0;
}

.code-editor-header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  &.dark {
    background-color: #2d2d2d;
    color: #fff;
  }

  h1 {
    margin-right: auto;
  }
}

.code-editor {
  height: 100vh;
}
